<div class="container">
	<h1>Home</h1>

	<div ng-show="!user" class="row">
		<div class="col-md-12">
			<h2>Signup or login to screenSeller</h2>

			<div google-signin
				 client-id="706359768966-rafie5s7vj7fsudkiped1v9mlt56nufe"
				 after-signin="signedIn(oauth)"></div>
		</div>
	</div>

	<div ng-show="user">
		<pre>{{ user | json }}</pre>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div file-upload="onFile(files)"></div>
		</div>
	</div>

		<div ng-show="images" class="clearfix">
				<div class="col-sm-6 col-md-4" ng-repeat="image in images">
					<div class="thumbnail">
						<img ng-click="sellImage(image)" data-ng-src="{{image.itemUrl}}"/>
					</div>
				</div>
		</div>

	<div class="row">
		<div class="col-md-12">
			<div ng-show="showCC">
				<form ng-submit="submitPayment()" novalidate>
					<span ng-bind="errors"></span>
					<span>Card Number</span>
					<input type="text"
						   ng-minlength="16"
						   ng-maxlength="20"
						   size="20"
						   data-stripe="number"
						   ng-model="charge.number"/>

					<span>CVC</span>
					<input type="text"
						   ng-minlength="3"
						   ng-maxlength="4"
						   data-stripe="cvc"
						   ng-model="charge.cvc"/>
					<span>Expiration (MM/YYY)</span>
					<input type="text"
						   ng-minlength="2"
						   ng-maxlength="2"
						   size="2"
						   data-stripe="exp_month"
						   ng-model="charge.exp_month"/>
					<span> / </span>
					<input type="text"
						   ng-minlength="4"
						   ng-maxlength="4"
						   size="4"
						   data-stripe="exp-year"
						   ng-model="charge.exp_year"/>
					<input type="hidden"
						   name="email"
						   value="user.email"/>
					<button type="submit">Submit payment</button>
				</form>
			</div>
		</div>
	</div>
</div>