<div class="row">
	<div class="col-xs-3">
		<form name="blabla" ng-submit="login(blabla.$valid)">
			<input>
			<ng-messages condition>

			</ng-messages>
			<span ng-show="!blabla.url.$valid && blabla.$dirty && blabla.url.$dirty">This is required</span>
			<span ng-show="!blabla.url.$valid && blabla.$dirty && blabla.url.$dirty">This is required</span>
			<span ng-show="!blabla.url.$valid && blabla.$dirty && blabla.url.$dirty">This is required</span>
			<span ng-show="!blabla.url.$valid && blabla.$dirty && blabla.url.$dirty">This is required</span>
			<span ng-show="!blabla.url.$valid && blabla.$dirty && blabla.url.$dirty">This is required</span>
		</form>
		<input ng-disabled="!blabla.$valid" class="url-list-url form-control"
			   data-ng-model="newUrl"
			   name="url"
			   type="url"
			   placeholder="Input url"/>
	</div>
	blablag
	<div ng-show="superpuper"  class="col-xs-9">
		<loading-button
				data-progress-function="loadUrl(tickFn, completeCb)"
				data-reset-delay="800"
				ng-click="balbalb = !blablab"
				data-on-complete="clearNewUrl()"></loading-button>
	</div>
</div>

<div class="row url-list-items">
	<div class="col-xs-12">
		<ul class="list-group">
			<li data-ng-repeat="urlInfo in urlList">
				<div data-url-info
					 data-url="urlInfo.url"
					 data-status="urlInfo.status"></div>
			</li>
		</ul>
	</div>
</div>

