<div class="row">
	<div class="col-xs-3">
		<input class="url-list-url form-control"
			   data-ng-model="newUrl"
			   name="url"
			   type="url"
			   placeholder="Input url"/>
	</div>
	<div class="col-xs-9">
		<loading-button
				data-progress-function="loadUrl(tickFn, completeCb)"
				data-reset-delay="800"
				data-on-complete="clearNewUrl()"></loading-button>
	</div>
</div>

<div class="row url-list-items">
	<div class="col-xs-3">
		<ul class="list-group">
			<li data-ng-repeat="urlInfo in urlList">
				<div data-url-info
					 data-url="urlInfo.url"
					 data-status="urlInfo.status"></div>
			</li>
		</ul>
	</div>
</div>

